<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-1">
    <a class="navbar-brand" href="{% url 'item_list_url' %}">Главная</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link active" href="#">Категории<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link active" href="{% url 'item_list_url' %}">Все товары<span class="sr-only">(current)</span></a>
        {% if user.is_authenticated %}
          <a class="nav-item nav-link" href="{% url 'item_create_url' %}" tabindex="-1" aria-disabled="true">Добавить товар</a>
          <a class="nav-item nav-link" href="{% url 'profile_url' user.pk %}" tabindex="-1" aria-disabled="true">Профиль</a>
        {% endif %}
      </div>
    </div>
  </nav>