{% extends 'base.html' %}
{% load messenger_tags %}
{% block content %}
{% if user.is_authenticated and not social_links.phone_number %}
<div class="container">
  <div class="alert alert-danger" role="alert">
    Для полноценной работы витрины добвьте номер телефона в <a href="{% url 'profile_url' user.userprofile.pk %}"
      class="alert-link">профиле</a> администратора. <u>Кпопка "Позвонить" и "WhatsApp" деактивированы.</u>
  </div>
</div>
{% endif %}
<div class="container">
  <div class="row">
    {% for object in object_list %}
    <div class="card mx-auto mb-2" style="width: 22rem;">
      <a href="{{ object.get_absolute_url }}"><img src="{{ object.image.url }}" class="card-img-top"
          alt="{{ object.title }}"></a>
      <div class="card-body" style="display: flex; flex-direction: column;">
        <h5 class="card-title">{{ object.title }}</h5>
        <p class="card-text">{{ object.description|truncatechars:100 }}</p>
  
        <div class="row mt-auto">
          <a href="{{ object.get_absolute_url }}" class="btn btn-outline-primary mx-auto">{{ object.price }} ₽</a>
          <a href="tel:{{ social_links.phone_number }}"
            class="btn {% if social_links.phone_number %}btn-outline-primary{% else %}btn-outline-danger{% endif %} mx-auto">Позвонить</a>

          {% get_messenger as messenger %}
          {% if messenger == 'whatsapp' %}
          <a href="//wa.me/{{ social_links.phone_number|stringformat:'s'|slice:'1:' }}"
            class="btn {% if social_links.phone_number %}btn-outline-success{% else %}btn-outline-danger{% endif %} mx-auto">WhatsApp</a>
          {% elif messenger == 'telegram' %}
          <a href="{% get_telegram_user_link %}"
          class="btn {% if social_links.phone_number %}btn-outline-primary{% else %}btn-outline-danger{% endif %} mx-auto">Telegram</a>
          {% elif messenger == 'viber' %}
          <a href="viber://chat?number=%2B{{ social_links.phone_number|stringformat:'s'|slice:'1:' }}"
          class="btn {% if social_links.phone_number %}btn-outline-info{% else %}btn-outline-danger{% endif %} mx-auto">Viber</a>
          {% endif %}

        </div>
  
      </div>
    </div>
    {% endfor %}
  </div>
  {% if is_paginated %}
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
        <a class="page-link"
          href="?page={% if page_obj.has_previous %}{{ page_obj.previous_page_number }}{% endif %}">Назад</a>
      </li>
      {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
      <li class="page-item active" aria-current="page">
        <a class="page-link" href="?page={{ num }}">{{ num }} <span class="sr-only">(current)</span></a>
      </li>
      {% elif num > page_obj.number|add:-3 and num < page_obj.number|add:3 %}
      <li class="page-item">
        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
      </li>
      {% endif %}
      {% endfor %}
      <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
        <a class="page-link"
          href="?page={% if page_obj.has_next %}{{ page_obj.next_page_number }}{% endif %}">Вперёд</a>
      </li>
    </ul>
  </nav>
  {% endif %}
</div>
{% endblock %}