{% extends 'base.html' %}

{% load messenger_tags %}

{% block title %}
{{ object.title }}
{% endblock %}

{% block update_delete_buttons %}
<a class="nav-link" href="{% url 'item_update_url' object.pk %}" tabindex="-1" aria-disabled="true">Изменить товар</a>
<a class="nav-link" href="{% url 'item_delete_url' object.pk %}" tabindex="-1" aria-disabled="true">Удалить товар</a>
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="text-center">{{ object.title }}</h2>
      <hr class="bg-info">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <img src="{{ object.image.url }}" class="card-img-top" alt="...">
      <div class="alert alert-info mt-2 text-center" role="alert">
        <h5 class="alert-heading">Цена {{ object.price }} ₽</h5>
        {% if social_links.phone_number %}
        <hr>
        <p>
          <a href="tel:{{ social_links.phone_number }}" class="btn btn-outline-primary mx-2">Позвонить</a>
          {% get_messenger as messenger %}
          {% if messenger == 'whatsapp' %}
          <a href="//wa.me/{{ social_links.phone_number|stringformat:'s'|slice:'1:' }}"
            class="btn {% if social_links.phone_number %}btn-outline-success{% else %}btn-outline-danger{% endif %} mx-auto">WhatsApp</a>
          {% elif messenger == 'telegram' %}
          <a href="{% get_telegram_user_link %}"
            class="btn {% if social_links.phone_number %}btn-outline-primary{% else %}btn-outline-danger{% endif %} mx-auto">Telegram</a>
          {% endif %}
        </p>
        {% endif %}
      </div>
    </div>
    <div class="col-lg-8">
      <h4 class="text-justify mt-lg-5">{{ object.description }}</h4>
    </div>
  </div>
</div>

{% endblock %}