{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
Изменить товар
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-6 mx-auto">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.title|as_crispy_field }}
        {{ form.description|as_crispy_field }}
        {{ form.image|as_crispy_field }}
        {{ form.price|as_crispy_field }}
        {{ form.category|as_crispy_field }}
        <button class="btn btn-outline-primary" type="submit">Сохранить</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}