{% extends 'base.html' %}

{% block title %}
Профиль
{% endblock %}

{% block content %}
<div class="container">
  <div class="col-lg-6 mx-auto">
    <h4>Телефон:</h4>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="{{ object.userprofile.phone_number }}"
        aria-label="Recipient's username" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-primary" type="button">Изменить</button>
      </div>
    </div>
    <h4>Профиль на Юле:</h4>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"
        aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-primary" type="button">Изменить</button>
      </div>
    </div>
    <h3>Профиль на Avito:</h3>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"
        aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-primary" type="button">Изменить</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}