{% load tags %}

<!doctype html>
<html lang="ru">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <title>{% block title %}Онлайн витрина{% endblock %}</title>

  <style>
    html,
    body {
      height: 100%;
    }

    body {
      display: flex;
      flex-direction: column;
    }

    .content {
      flex: 1 0 auto;
    }

    .footer {
      flex-shrink: 0;
    }

    .nav-item,
    .nav-drop,
    .navbar-brand {
      color: #ffff00 !important
    }
  </style>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-1">
    <a class="navbar-brand" href="{% url 'main_page_url' %}">Главная</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        {% get_categories as categories %}
        {% if categories %}
        <li class="nav-item dropdown active">
          <a class="nav-link nav-drop dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Категории
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            {% for category in categories %}
            <a class="dropdown-item" href="#" tabindex="-1" aria-disabled="true">{{ category.title }}</a>
            {% endfor %}
          </div>
          {% endif %}
        </li>
        <li class="nav-item active">
          <a class="nav-item nav-link active" href="{% url 'item_list_url' %}">Все товары<span
              class="sr-only">(current)</span></a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Настройки
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'main_page_editor_url' %}" tabindex="-1" aria-disabled="true">Редактор
              главной</a>
            <a class="dropdown-item" href="{% url 'category_list_url' %}" tabindex="-1" aria-disabled="true">Редактор
              категорий</a>
            <a class="dropdown-item" href="{% url 'profile_url' user.userprofile.pk %}" tabindex="-1"
              aria-disabled="true">Профиль</a>
          </div>
        </li>
        {% block create_item_button_disappeared %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'item_create_url' %}" tabindex="-1" aria-disabled="true">Добавить товар</a>
        </li>
        {% endblock %}
        {% block update_delete_buttons %}{% endblock %}
        {% endif %}
      </ul>
    </div>
  </nav>

  {% if messages %}
  {% for message in messages %}
  <div class="container text-center">
    <div class="alert alert-{{ message.tags }}" role="alert">
      {{ message }}
    </div>
  </div>
  {% endfor %}
  {% endif %}

  <div class="content">
    {% block content %}{% endblock %}
  </div>


  <footer class="footer " style="background: #30d5c8">
    <div class="container">
      <div class="d-sm-flex justify-content-between">
        <div class="footer-left my-lg-3">
          text
        </div>
        <div class="footer-right my-lg-3">
          <span>text</span>
          <span>text</span>
          <span>text</span>
          <span>text</span>
        </div>
      </div>
    </div>
  </footer>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

</body>

</html>