{% extends 'base.html' %}

{% load crispy_forms_tags %}



{% block title %}
Профиль
{% endblock %}

{% block content %}

<div class="container">
  <div class="alert alert-secondary" role="alert">
    <h4 class="alert-heading">Профиль.</h4>
    <p>Ссылки на социальные сети повысят уровень доверия. Для добавления активных иконок в футер сайта вставьте ссылку на
      профиль соответствующей социальной сети.</p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <form method="POST">
          {% csrf_token %}
          {{ form.phone_number|as_crispy_field }}
          {{ form.telegram_user_link|as_crispy_field }}
          {{ form.messenger|as_crispy_field }}
          {{ form.brand|as_crispy_field }}
          {{ form.currency|as_crispy_field }}
          {{ form.market|as_crispy_field }}
          {{ form.instagram|as_crispy_field }}
          {{ form.vk|as_crispy_field }}
          {{ form.facebook|as_crispy_field }}
          {{ form.twitter|as_crispy_field }}
          {{ form.telegram|as_crispy_field }}
          {{ form.whatsapp|as_crispy_field }}
          <button class="btn btn-outline-primary" type="submit">Сохранить</button>
        </form>
      </div>
    </div>
    <hr>
  </div>
</div>
{% endblock %}