{% extends 'base.html' %}

{% load messenger_tags more_items_button_tags %}

{% block content %}
{% if user.is_authenticated and not social_links.phone_number %}
<div class="container">
  <div class="alert alert-danger text-center" role="alert">
    Для полноценной работы витрины добвьте номер телефона в <a href="{% url 'profile_url' user.userprofile.pk %}"
      class="alert-link"><u>профиле</u></a> администратора. Кпопки для связи деактивированы.
  </div>
</div>
{% endif %}
<div class="container">
  <div class="row">
    {% for object in object_list %}
    <div class="card mx-auto mb-2" style="width: 22rem;">
      <a href="{{ object.get_absolute_url }}"><img src="{{ object.item_on_main_page.image.url }}" class="card-img-top"
          alt="{{ object.item_on_main_page.title }}"></a>
      <div class="card-body" style="display: flex; flex-direction: column;">
        <h5 class="card-title">{{ object.item_on_main_page.title }}</h5>
        <p class="card-text">{{ object.item_on_main_page.description|truncatechars:100 }}</p>

        <div class="row mt-auto">
          <a href="{{ object.get_absolute_url }}"
            class="btn btn-outline-primary mx-auto">{{ object.item_on_main_page.price }} ₽</a>
          <a href="tel:{{ social_links.phone_number }}"
            class="btn {% if social_links.phone_number %}btn-outline-primary{% else %}btn-outline-danger{% endif %} mx-auto">Позвонить</a>
          {% get_messenger as messenger %}
          {% if messenger == 'whatsapp' %}
          <a href="//wa.me/{{ social_links.phone_number|stringformat:'s'|slice:'1:' }}"
            class="btn {% if social_links.phone_number %}btn-outline-success{% else %}btn-outline-danger{% endif %} mx-auto">WhatsApp</a>
          {% elif messenger == 'telegram' %}
          <a href="{% get_telegram_user_link %}"
            class="btn {% if social_links.phone_number %}btn-outline-primary{% else %}btn-outline-danger{% endif %} mx-auto">Telegram</a>
          {% endif %}
        </div>

      </div>
    </div>
    {% endfor %}
  </div>

  {% showe_more_items_button as showe_more_items_button %}
  {% if showe_more_items_button %}
  <a href="{% url 'remain_items_url' %}" class="btn btn-outline-primary">Ещё товары >>></a>
  {% endif %}

</div>
{% endblock %}
